.card form{
    margin-top: 15%;
    text-align: center;
    box-sizing: content-box;
    position: sticky;
    bottom: 0px;
    width: 100%;
}
.card input{
    background-color: #3c3c4c;
    width: 70%;
    height:6vh;
    padding: 0;
    border-radius: 8px;
    border: none;
    text-align: center;
    display: inline-block;
    color: #9f9fa7;
}

.card button{
    display: block;
    margin: 6% auto;
    border-radius: 8px;
    font-size: large;

}

.card input:focus{

    color: #ffffff;
}

.card{
    background: #16161c;
    border-radius: 10px;
    width: 90%;
    height: 37vh;
    position: fixed;
    top: 30vh;
    left: 5%;
    z-index: 100;
    overflow: hidden;
}

.card label{
    color: white;
    display: block;
    margin-top: 10px;
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(0, 0, 0, 0.75);
}