.card{
    background-color: #1e1e26;
    color: white;
    width: 90% !important;
    border-radius: 10px;
    margin: 10px auto;
}

.title{
    color: #0d6efd;
    margin-left: 15px;
    margin-top:8px !important;
    padding-top: 4px;

}

.content{
    color: white;
    margin-left: 15px;
    margin-top: -10px;
    padding-bottom: 4px;
}

.button{
    background-color: transparent;
    border: none;
    position: relative !important;
    top: 50% !important;
    margin: 0;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

